.myFormStyle {
    text-align: center;
}

.title {
    font-size: 25px;
    color: rgb(235, 189, 116);
    letter-spacing: 3px;
    font-weight: 800;
    text-decoration: underline;
}

.heading {
    font-size: 50px;
    color: rgb(238, 238, 124);
    /* color: greenyellow; */
    letter-spacing: 6px;
    text-decoration: underline;
    font-size: 60px;
    font-weight: 600;
}

.myAddBtnStyle {
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    font-weight: 600;
    background-color: greenyellow;
}

.myInputStyle {
    border-radius: 25px;
    padding-left: 3%;
    /* width: 90%; */
    font-size: 100%;
    font-weight: 600;
}

.mybtnStyle {
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    font-weight: 600;
    background-color: rgb(81, 201, 234);
}

.inputDiv {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}