@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

.mainDiv {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    background-image: url(/src/Components/assets/notes2.jpg);
    background-size: cover;
    /* background-color: rgb(213, 235, 235); */
    /* background-color: rgb(115, 54, 169); */
    font-family: 'Kanit', sans-serif;
}