.myDivStyle {
    text-align: center;
    margin: 10px;
    padding: 15px 40px;
    background-color: rgba(243, 243, 168, 0.945);
    /* background-color: rgb(231, 231, 209); */
    border-radius: 10px;
    min-width: 300px;
    max-width: 450px;
    overflow: auto;
}

.noItemStyle {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 40px;
}


.btnStyle {
    border-radius: 10px;
}

.redBtnStyle {
    border-radius: 10px;
}

.mainDivStyle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.todoBottom {
    margin-bottom: 0px;
}


.mainDivStyle img {
    height: 20px;
    width: 20px;
}

.todoTitle {
    text-align: left;
    border-bottom: 1px solid grey;
}

.todoDesc {
    padding: 20px;
}

.todoTime {
    color: grey;
    margin: 0px 30px;
}